/* soo yes the stuff goes here in theory, someone help meeeeeee */

html:not(.dark) body { background-color: #f3f4f6; color: #111827; }
html:not(.dark) .surface { background-color: #ffffff; border-color: #e5e7eb; box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1); }
html:not(.dark) .input-field { background-color: #f9fafb; border-color: #d1d5db; color: #111827; }
